body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("/image/background-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#googlemethod img {
    width: 50px;
    height: 50px;
}

#googlemethod {
    height: 60px;
    width: 90%;
    max-width: 200px;
    margin: auto;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#googlemethod:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

h2 {
    margin-left: 10px;
}

.form {
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    background-color: #EEEEEE;
}